{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="home">
    <div class="main">
        <h1 class="heading">
            I AM <br> DERICK KIBASO OKINDA
       </h1>
       <a href="#contact"><button class="btn">HIRE ME</button></a>
       
      
    </div>
<div class="pichome">
<img src="{% static 'media/photo.jpeg' %}" alt="">
</div>       
</section>

<!-- about section -->
<section id="about">
    <h1 class="headings">ABOUT ME</h1>
    <div id="pic">
        <img src="{% static 'media/photo.jpeg' %}">
    </div>

    <div id="intro">
        <h2>DERICK KIBASO OKINDA</h2>
        <p>
            I am a web backend developer.I develop web application using python and django framework. 
            <br> I am junior developer who is looking for more opportunities to work to improve my skills as a backender developer. I am a self-starter and have a strong work ethic. 
            <br>I am also a team player and have a good sense of humor and who also have a good communication skills
        </p>
    </div>
</section>

<section id="portfolio">
    <h1 class="headings">PORTFOLIO</h1>
    <div class="gallery">
        <a href="http://guarded-ocean-90993.herokuapp.com/"> <img src="{% static '/media/photo1.png'%}" alt="" width="80" height="50"></a>
        <!-- <img src="images/photo1.jpg" alt="">
        <img src="images/photo2.jpg" alt="">
        <img src="images/photo3.jpg" alt="">
        <img src="images/photo4.jpeg" alt="">
        <img src="images/photo5.jpg" alt="">
        <img src="images/photo6.jpg" alt=""> -->


    </div>
</section>

<!-- service -->

<section id="services">
    <h1 class="headings">SERVICES</h1>
        <div class="row">
            <div class="box">
                <h1 class="headings">BACKEND DEVELOPMENT</h1>
                <p>
                    A backend developer can offer a number of services, including but not limited to:
                    <ul>
                        <li>
                            Developing APIs
                        </li>
                        <li>
                            Connecting front-end applications to back-end data
                        </li>
                        <li>
                            Storing and retrieving data from a database
                        </li>
                        <li>
                            Processing data
                        </li>
                        <li>
                            Securing data
                        </li>
                        <li>
                            Deploying applications
                        </li>
                    </ul>
                </p>
            </div>
        </div>
</section>

<!-- contact  -->
<section id="contact">
    <h1 class="class">CONTACT</h1>
    <form action="" class="form">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="SEND" id="send">  
    </form>
</section>  
{% endblock content %}
</body>
</html>
