{% extends 'base.html' %}
{% block content %}
<section id="home">
    <div class="main">
        <h1 class="heading">
            I AM <br> DERICK KIBASO OKINDA
       </h1>
       <button class="btn">
        HIRE ME
    </button>
    </div>
<div class="pichome">
<img src="images/photo.jpeg" alt="">
</div>       
</section>
<!-- about section -->
<section id="about">
    <h1 class="headings">ABOUT ME</h1>
    <div id="pic">
        <img src="images/photo.jpeg">
    </div>

    <div id="intro">
        <h2>DERICK KIBASO OKINDA</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque non dicta dolorum, veritatis voluptatem necessitatibus nulla ut. Doloribus
             dolorem earum ad est repellat, ea commodi, nisi eos explicabo deleniti neque! Repellat, dolorum voluptates fuga obcaecati, dignissimos nemo 
             architecto laborum quasi facilis animi illo quis esse quod nulla eaque vero impedit ut quae molestiae saepe magni tempora. 
             Reiciendis, praesentium. Pariatur in ipsam recusandae? Impedit, a? Amet animi ut dolor perspiciatis ducimus nihil iusto eveniet sequi sed architecto 
             voluptatibus corporis et repellat tempore, itaque quam at eos cupiditate! Voluptatum natus omnis, minus neque quas sint 
           <br> perspiciatis eos id tempore nobis consectetur dolorum?
        </p>
    </div>
</section>
<!-- portfolio -->
<section id="portfolio">
    <h1 class="headings">PORTFOLIO</h1>
    <div class="gallery">
        <img src="images/photo1.jpg" alt="">
        <img src="images/photo2.jpg" alt="">
        <img src="images/photo3.jpg" alt="">
        <img src="images/photo4.jpeg" alt="">
        <img src="images/photo5.jpg" alt="">
        <img src="images/photo6.jpg" alt="">


    </div>
</section>
<!-- service -->
<section id="services">
    <h1 class="headings">SERVICES</h1>
        <div class="row">
            <div class="box">
                <h1 class="headings">BACKEND DEVELOPMENT</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Error provident quisquam facere quas molestias vero rem, 
                    et repellendus sed est corporis accusamus magnam 
                    nisi inventore soluta unde nulla sapiente? Harum!</p>
            </div>
        </div>
</section>
<section id="contact">
    <h1 class="class">CONTACT</h1>
    <form action="" class="form">
         <input type="text" name="name" class="input" 
        placeholder="Enter your name"> 
        <input type="text" name="email" class="input"
        placeholder="Enter your email">
        <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Enter your message"></textarea>
        <input type="submit" value="SEND" id="send"> 
    </form>
</section>  
{% endblock content %}
</body>
</html>
